.footer {
  height: 400px;
  padding: 5rem;
  background-color: #000;

  .container {
    max-width: 1440px;
    margin: 0 auto;
    p {
      margin-top: 4rem;
      text-align: center;
      color: var(--white);
      span {
        color: rgb(252, 0, 0);
      }
    }
  }
}
